{{#partial "title" }}
  Here is your change!
{{/partial}}


{{#partial "content"}}

<h1>Thank you for your business {{ name }}</h1>
<p>Your total today was {{ amount }},</p>

{{/partial}}

{{> layout.hbs}}